body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
   
}
header{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 0 2px rgba(36, 35, 35, 0.178);
    text-indent: none;

}
h1{
    font-size: 80px;
}
header h2{
    font-size: 30px
}
img{
    width: 200px;
    border-radius: 50%;
}
section{
    margin: 20px 50px;
}
footer{
    text-align: center;
    padding: 30px;
}
/*font-family: 'Roboto', sans-serif;*/