body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 30px;
    font-size: 18px;

    
   
}
header{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 100px;
    text-shadow: 0 2px rgba(36, 35, 35, 0.178);
    text-indent: none;
    

}
h1{
    font-size: 80px;
    margin-bottom: 20px;
}
header h2{
    font-size: 30px
}
h2{
    font-family: 'Roboto', sans-serif;
}
img{
    width: 200px;
    border-radius: 50%;
    overflow: auto;
  

}
.profil_fotka{
    display:inline-block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}
section{
    margin: 20px 50px;
}
footer{
    text-align: center;
    padding: 30px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px 100px;
    overflow: auto;
}
.flex-container1,.flex-container2{
    display: flex;
    flex-direction:column;
    overflow: auto;
    
}
.flex-container1{
    width: 30%;
    
    box-shadow: 20px 15px  #3f221146;
    background-color:  	 #3f2211d5;
    color: rgba(255, 255, 255, 0.952);
    line-height: 30px;
    font-weight: 200;
    

}
.flex-container2{
    padding-right: 100px;
    padding-left: 35px;
    line-height: 30px;
}
li{
    list-style-type:square;
}
.zajmy h2{
    padding-top: 0;
    margin-top: 0;
}
.zajmy,.dovednosti,.certifikaty,.vzdelani{
    padding-bottom: 30px;
}
.dovednosti{
    padding-top: 50px;
}
.kontakt{
    text-align: left;
    font-style: italic;
    margin-left: 100px;
}
a{
    color: #57330f ;
}
/*font-family: 'Roboto', sans-serif;*/